<!DOCTYPE html>
<html>
    <head>
        <title>
            YELPCAMP
        </title>
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#222">
        <meta name="description" content="A simple site for posting new camping sites">
        <meta name="keywords" content="Yelpcamp,nodejs,mongodb,express"></meta>
        <meta name="author" content="dsc712"></meta>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
       integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       
       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
       rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
       
       <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i> YELPCAMP</a>
        </div>
        <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	             </button>
			</div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav navbar-right">
              <%  if(!currentUser){  %>
                <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> login</a></li>
                <li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a></li>
             <%   }else{   %>
             
                <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> signed in as <%= currentUser.username%></a></li>
                <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> logout</a></li>
                
             <%    }  %>
                <li><a href="https://github.com/dsc712/post-your-yelpcamp"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container">
        <% if(error && error.length > 0){  %>    
                <div class="alert alert-danger " role="alert" >
                        <%= error %>
                </div>
        <%    }  %>
          <% if(success && success.length > 0){  %>
                <div class="alert alert-success " role="alert" >
                        <%= success %>
                </div>
          <%    }  %>
    </div>
    
